<h4><%= @answer.text %></h4>

<p>
  <%= link_to "Edit", edit_question_answer_path(@question,@answer) %> |
  <%= link_to "Delete Answer", question_answer_path(@question,@answer),
            :data => {:confirm => "Are you sure?", :method => "delete"} %> |
  <%= link_to "Browse Questions", questions_path %>
</p>
